@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.p-5 {
  background-image: asset-url('cherry.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
  background: white;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: grey;
  }
  a:active {
    color: darkgray;
  }
}
